.content-section {
  min-height: 100vh;
  /* height: 100vh; */
  /* overflow-y: auto; */
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* background: var(--color-bg); */
  margin-left: auto;
  z-index: 1;
  position: absolute;
}

.content-section-s {
  min-height: 100vh;
  /* height: 100vh; */
  /* overflow-y: auto; */
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* background: var(--color-bg); */
  margin-left: auto;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; 
  min-width: 40vw;
  overflow: hidden;
  font-size: 2rem;
}

.content-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; 
  min-width: 40vw;
  overflow: hidden;
  font-size: 2rem;
  min-height: fit-content;
}

.card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; 
  min-width: 40vw;
  overflow: hidden;
  font-size: 2rem;
  height: 100vh;
  width: 100%;
}

.corner {
  position: absolute;
  width: clamp(350px, 50%, 55%);
  pointer-events: none;
}

/* top left */
.top-left {
  top: 0%;
  right: 0;
}

/* bottom right */
.bottom-right {
  bottom: 0%;
  left: 0%;
}

.date-header {
  font-size: clamp(2rem, 3vw, 3rem);
  text-align: center;
  line-height: 1;
}

.address-header {
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-align: center;
  line-height: 1;
}

.text-header {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1;
}

@media (max-width: 960px) {
  .content-section {
    grid-template-columns: 1fr;
    min-height: 100vh;
    display: grid;
    inset: 0;
    position: relative;
  }

  .content-blank {
    display: none;
  }

  .date-header {
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    line-height: 1;
  }

  .address-header {
    font-size: clamp(1.5rem, 4.5vw, 2rem);
    text-align: center;
    line-height: 1;
  }

  .wedding-photo {
    width: 100%;
    aspect-ratio: 5 / 3 ;
    object-fit: cover;
    margin: 32px 0px;
  }
}